tr, th, td {
border: 1px black solid;
padding: 10px;
text-align: center;
}
th > a {
    padding: 5px;;
}
thead {
    background-color: lightgray;
}
table {
    margin-left: auto;
    margin-right: auto;
}
nav > ul {
    list-style: none;
    display: inline-flex;
    margin : 10px;
}
nav > ul > li {
    margin-right: 50px;
    border: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
}
nav {
    margin-bottom:5em;
    font-size:20px;
}
.card{
    width: 40%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.card-header > button {
    display:block;
    float: right;
    width:30px;
    height: 30px;
}
.card-body {
    text-align: center;
}
.card-header{
    text-align: center;
}

#ajout {
    display: block;
    position: absolute;
    top:15%;
    left:55%;
}