tr, th, td {
border: 1px black solid;
padding: 10px;
text-align: center;
}
th > a {
    padding: 5px;;
}
thead {
    background-color: lightgray;
}
nav > ul {
    list-style: none;
    display: inline-flex;
    margin :5px;
}
nav > ul > li {
    margin-right: 50px;
}
nav {
    margin-bottom:5em;
    font-size:20px;
}